<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>애양교회 주보 &ndash; 개발중</title>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="{{url_for('static', filename='side-menu.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='jubo.css')}}">
</head>
<body>

<div id="main">
    <div class="content">
		<div class="banner">
			<form class="pure-form pure-form-stacked" action="{{ url_for('admin_login')}}" method='post'>
				<fieldset>
					<p>
					<legend> 관리자 로그인</legend>

					<input name="username" type="text" placeholder="ID">
					<input name="password" type="password" placeholder="Password">
					<p>

					<button type="submit" class="pure-button pure-button-primary">로그인</button>
				</fieldset>
			</form>
		</div>
    </div>
</div>

<script src="{{url_for('static', filename='ui.js')}}"></script>
</body>
</html>
